<div>
  <p class="text-align">At Hinds Hospice, we continually strive to provide the most complete and compassionate end-of-life care for patients and their families. That’s why we created the unique Hinds Hospice Interdisciplinary Team to address all aspects of caring for the terminally ill patient. The team is comprised of the following professionals:</p>
  <ul>
    <li>Medical Director: Oversees the care of patients, advised the Hospice Team and consults with the patient’s attending physician.</li>
    <li>RN &amp; LVN Teams: Provides compassionate, skilled care, with the goal of comfort, safety, support and education for the patient and family.</li>
    <li>Medical Social Worker: Provides emotional support and counseling to help patients and families cope with end-of-life issues.</li>
    <li>Bereavement Counselor: Bereavement (grief and loss) services provided to family members for 13 months after their loss. Additionally, individual counseling and support groups are available.</li>
    <li>Chaplain: Available to assist patients and families with spiritual concerns throughout this journey.</li>
    <li>Hospice Aide: Available to assist with the patient’s personal care</li>
    <li>Volunteer: Available to assist with transportation, errands and visitation.</li>
  </ul>
  <p>Every patient is cared for by this team of compassionate professionals who take the time to provide information that makes all available care choices known and easier to understand.  All care team members work closely with our Medical Director and patients’ personal physicians.</p>

  <div class="text-center" style="margin-top: 12px">
    <a role="button" class="btn btn-success" style="padding: 6px 30px" routerLink="/start">BACK</a>
  </div>
</div>
