<div>
  <div class="text-center" style="margin-top: 12px">
    <a role="button" class="btn btn-success" style="padding: 6px 30px" routerLink="/about">ABOUT HINDS</a>
  </div>
  <div class="text-center" style="margin-top: 12px">
    <a role="button" class="btn btn-success" style="padding: 6px 30px" routerLink="/pathways">ABOUT PATHWAYS</a>
  </div>
  <div class="text-center" style="margin-top: 12px">
    <a role="button" class="btn btn-success" style="padding: 6px 30px" routerLink="/jobs">OPPORTUNITIES</a>
  </div>
  <div class="text-center" style="margin-top: 12px">
    <a role="button" class="btn btn-success" style="padding: 6px 30px" routerLink="/contact">CONTACT US</a>
  </div>
  <div class="text-center" style="margin-top: 12px">
    <a role="button" class="btn btn-success" style="padding: 6px 30px" routerLink="/home">HOME</a>
  </div>
</div>
