<div>
  <p>Nurses are individuals. You have your own unique story and reasons for choosing a career helping others. Your goals, and the things you love about what you do, are personal and meaningful. </p>
  <p>So why do all job opportunities sound the same? How can you distinguish which organizations and environments are right for you?</p>
  <p>We at Pathways see you differently. We're guided by the principle that people fulfilling their potential in meaningful ways have better lives and better careers. This only happens when meaning is shared between you and the organization you help steward.</p>
  <p>We believe helping you find your most fulfilling career path is how we help change everything.</p>

  <div class="text-center" style="margin-top: 12px">
    <a role="button" class="btn btn-success" style="padding: 6px 30px" routerLink="/start">BACK</a>
  </div>
</div>
