<div>
  <p class="text-center">&ldquo;One of my heroes, Dr. Daniel Tobin, wrote in his book, Peaceful Dying: <br>
  <em>&lsquo;Nowhere is the opportunity for teaching and incorporating wisdom and compassion into our communities greater than in our treatment of the dying.&rsquo;<br>
  These words serve as daily inspiration to me in my work with Hinds Hospice.&rdquo;</em><br>
  Mary, Hospice Nurse Practitioner</p>
  <div class="text-center">
    <a role="button" class="btn btn-success" style="padding: 6px 30px" routerLink="/start">GET STARTED</a>
  </div>
</div>
